.projectCard{
    padding:0.5em;
    border: 1px 1px solid red;
    text-align: center;
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    max-height: 500px;
    max-width: 350px;

}

#projectCard img{
    max-width: 300px;
    margin: 5%;
}

a{
    text-decoration: none;
    color:white;
}