.App {
  text-align: center;
  margin:5%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*{
  box-sizing: border-box;
}
.background{
  z-index: -1;
  position: static;
}
h1, #intro{
  position: relative;
  color: aliceblue;
  background-color: black;
}


#contents{
  z-index: 2;
  
  position: relative;
  color:white;

}

#content{
  z-index: 2;
  position: relative;
  color:white;
}

#experiences{
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 2em;
}

#projects{
  margin-top: 10em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2em;
  justify-content: space-around;
}

#contact{
  margin-top: 5em;
}


.something{
  color:white
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
